body {
	background-color: #F7F7F7;
	color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
	font-family: Tahoma, Geneva, sans-serif;
	color: teal;
}
dfn {
	color: maroon;
	font-style: italic;
}
code {
	color: gray;
}
p {
	font-size: 14px;
}
